<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

{% if room %}
<h1> Location: {{ room.name }} </h1>
<div class="room-info">
  {{ room.info }}
</div>
{% endif %}

<ul>
  {% for x in msg %}
  <li> {{ x | safe | escape }} </li>
  {% endfor %}
</ul>


{% if player %}
<div class="action-panel">
<h2>接下來要幹嘛？</h2>
{% for action in player.get_actions %}
<a href="?q={{ action.key }}"><button class="btn btn-default"> {{ action.name }} </button></a>
{% endfor %}
</div>



<h2> Status </h2>
<ul>
  <li> HP: {{ player.health }} </li>
  <li> ATK: {{ player.attack }} </li>
  <li> DEF: {{ player.defence }} </li>
  <li> $: {{ player.gold }} </li>
</ul>
{% endif %}

</body>
</html>
